.login-form-cont{
    height: 100vh;
    padding: 12vh 27vw;
  }

  .login-section{
    background-image: url("../assets/pexels-justin-wolfert-14261918.jpg");
    background-size: cover;

  }

  .login-form{
    width: 45%;
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 3%;
    border-radius: 50px;
    border: 3px solid rgb(255, 255, 255);
  }

  .login-act-form{
    width: 75%;
  }

  .button-login{
    margin: 1em 0;
    width: 100% !important;
  }
  
  .pointer{
    cursor: pointer;
  }

