.header-nav-items{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap:20px;
    cursor: pointer;
}

/* .blogs-wrapper{
    margin:1% 30% 1% 30%;
} */

.card{
    margin: 10px !important;
}

.table-image{
    width:100px;
    max-height:200px;
    min-height: 100px;
}

.cursor-pointer{
    cursor: pointer;
}